

# User-specific files
*.user
.project
.settings
.classpath
.gradle

# java
*.class

# Package Files #
*.jar
*.war
*.ear


# maven
build/
target/
logs/


# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/modules
.idea

RUNNING_PID

.vscode